.main-title span {
	background-color: rgba(255, 255, 255, .4);
}

.about-us, .mission, .vision {
	text-align: center;
	padding: 8rem 0;
	color: #fff;
}

.mission, .vision {
	padding-left: 2rem;
	padding-right: 2rem;
}

.about-bg {
	background: url(../img/about-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

h2 {
	font-size: 3.5em;
}

hr {
	border-top: 1px solid #fff;
}

.about-bg h2 {
	color: #19539c;
}

.about-us hr {
	border-color: #fff;
}

.mission-bg {
	background: #19539c;
}

.mission h2, .vision h2 {
	color: #fff;
}

.mission hr {
	border-color: #FF751C;
}

.vision-bg {
	background: #ff751c;
}

.vision hr {
	border-color: #19539c;
}