.main-title span {
	background-color: rgba(255, 255, 255, .4);
}

.about-us, .mission, .vision {
	padding: 8rem 0;
	color: #fff;
	text-align: center;
}

.mission, .vision {
	padding-left: 2rem;
	padding-right: 2rem;
}

.content {
	padding-bottom: 0;
}

.about-bg {
	background: url(../img/about-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 10rem;
}

h2 {
	font-size: 3.5em;
}

hr {
	border-top: 2px solid #fff !important;
}

.mission-bg {
	background: #19539c;
}

.mission h2, .vision h2 {
	color: #fff;
}

.vision-bg {
	background: #ff751c;
}

.card {
	margin-top: 2rem;
}

.card-header {
	font-weight: bold;
}

.card-body {
	text-align: center;
}