.main-title span {
	background-color: rgba(255, 255, 255, .4);
}

.content {
	background-image: url(../img/contact-bg.jpg);
	background-position: center;
	background-size: cover;
}

.row {
	margin: 0 auto;
}

#form-section {
	color: #fff;
	font-weight: bold;
	padding-top: 1rem;
	border: 3px solid rgba(255, 255, 255, .5);
}

#form-section, #c-info-section {
	margin-top: 4rem;
	background: none;
}

.col-md-12:last-of-type {
	text-align: right;
}

#c-info-card {
	background-color: rgba(240, 240, 240, .5);
	padding: 2rem;
	width: 100%;
}

#c-info-section p {
	margin: 0;
}

.c-info-group {
	margin-bottom: 1rem;
}

.c-info-title {
	text-transform: uppercase;
	font-weight: bold;
	color: #ff6300;
}