#news-aside h2 {
	margin: 0;
	font-size: 2em;
	text-transform: uppercase;
}

.news-article {
	display: inline-flex;
	border-bottom: 2px solid #afafaf;
	min-height: 130px;
	margin-top: 1.2rem;
}

.news-thumb img {
	height: 115px;
	width: 115px;
	border-radius: 10px;
}

.news-info {
	height: 100%;
	padding-top: .8rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.news-info h3 {
	font-size: 1rem !important;
}

.news-info i {
	color: #ff6300;
}

.contact-bg {
	margin: 0;
	padding: 0 auto;
	padding-bottom: 2rem;
	background-image: url(../img/contact-bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.contact-bg .row {
	margin: 0 auto;
}

#form-section {
	padding-top: 1rem;
	border: 3px solid rgba(255, 255, 255, .5);
}

#form-section, #c-info-section {
	margin-top: 4rem;
	background: none;
}

#c-info-card {
	background-color: rgba(240, 240, 240, .5);
	padding: 2rem;
	width: 100%;
}

#c-info-section p {
	margin: 0;
}

.c-info-group {
	margin-bottom: 1rem;
}

.c-info-title {
	text-transform: uppercase;
	font-weight: bold;
	color: #ff6300;
}