body {
	background: #ccc;
}

.navbar {
	padding: 0;
	background: transparent !important;
}

.mobileNavbar {
	display: block;
}

.navbar-brand img {
	height: 80px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.navbar-brand {
	background: #fff;
	padding: 20px 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#navLeft .navbar-nav .nav-item {
	margin-right: 2rem;
}

#navRight .navbar-nav .nav-item {
	margin-left: 2rem;
}

.navbar-nav .nav-item .nav-link {
	text-transform: uppercase;
	color: rgba(250, 250, 250, .8);
	text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.carousel-caption {
 	top: 30%;
 	bottom: auto;
}

.carousel-caption h1 {
	font-size: 5em;
	color: #FF751C;
	letter-spacing: 3pt;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}

.carousel-caption h2 {
	font-size: 3em;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}