body {
	background: #ccc;
}

.navbar {
	padding: 0;
	background: transparent !important;
	position: relative;
}

.navbar-brand img {
	height: 80px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.navbar-brand {
	background: #fff;
	padding: 20px 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#navLeft .navbar-nav .nav-item {
	margin-right: 2rem;
}

#navRight .navbar-nav .nav-item {
	margin-left: 2rem;
}

.navbar-nav .nav-item .nav-link {
	text-transform: uppercase;
}