body {
	background: #ccc;
}

.navbar {
	padding: 0;
	background: transparent !important;
}

.navbar-brand img {
	height: 80px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.navbar-brand {
	background: #fff;
	padding: 20px 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#links-bar {
	min-height: 8rem;
}

.navbar-nav {
	width: 100%;
}

.navbar-nav .nav-item .nav-link {
	margin: 0 1rem;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}


.carousel-item {
	box-shadow: inset 0 0 150px rgba(0, 0, 0, .5);
}

.carousel-caption {
 	top: 30%;
 }

.carousel-caption h1 {
	font-size: 5em;
	color: #FF751C;
	letter-spacing: 3pt;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}

.carousel-caption h2 {
	font-size: 3em;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

@media (max-width: 1199.98px) {
	.carousel-caption h1 {
		font-size: 3rem;
	}

	.carousel-caption h2 {
		font-size: 2rem;
	}
}

.slide-button {
	font-weight: bold;
	background-color: #0253A0;
	border-color: #0253A0;
	border-radius: 7px;
}

.slide-button:hover {
	background-color: #023463;
	border-color: #023463;
}