body {
	font-family: "Work Sans", sans-serif;
	color: #0a2649;
}

h1, h2 {
	font-family: "Cabin", sans-serif;
	color: #19539c;
}

.content {
	margin-top: 4rem;
	min-height: 100vh;
	padding-bottom: 10rem;
}

.menu-bar {
	background: white !important;
	text-transform: uppercase;
	box-shadow: 0 8px 8px rgba(0, 0, 100, .15);
}

.menu-bar .nav-brand {
	text-decoration: none;
	font-family: "Cabin", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	margin: .2rem 0;
	padding-right: 1em;
	border: 1px solid rgba(252, 116, 42, .5);
	border-radius: 10px;
	color: #89a7c4;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
}

.menu-bar .nav-brand img {
	margin-right: .8em;
}

.menu-bar .nav-brand:hover {
	background-color: #FF751C;
	color: white;
}

.menu-bar .navbar-nav .nav-item .nav-link {
	margin-left: 1rem;
}

.menu-bar .navbar-nav {
	height: 35px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: .2rem;
}

.navbar-nav .nav-item .nav-link {
	padding: .5rem 2rem;
	color: #89a7c4;
	font-family: "Cabin", sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	border: 1px solid rgba(2, 83, 160, 0);
	border-radius: 7px;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
}

.navbar-nav .nav-item .nav-link:hover {
	color: white;
	background-color: #0253A0;
	border-color: #0253A0;
	border-radius: 7px;
}

.navbar-toggler {
	border-color: rgba(252, 116, 42, .5) !important;
}

.toggler-icon {
	color: #0253A0;
}

#lang-switch {
	width: 10rem;
	right: 1rem;
	bottom: .5rem;
}

.main-title {
	font-size: 3.5em;
	padding: 3rem;
	padding-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
	color: #FF751C !important;
	letter-spacing: 4px;
}

.main-title span {
	background-color: #e9e9fd;
	padding: 1rem 2rem;
	border-radius: 7px;
}

footer {
	color: white;
	text-align: center;
	padding-top: .8rem;
	padding-bottom: .8rem;
}

#social-media a {
	color: inherit;
	font-size: 1.5rem;
	padding: 0 10px;
}

#social-media a:hover {
	color: rgba(255, 255, 255, .7);
}

footer p {
	margin: 0;
}