body {
	font-family: "Work Sans", sans-serif;
}

#index-logo {
	height: auto;
	padding-top: .8rem;
	background: white !important;
}

#index-logo .navbar-brand {
	margin: 0 auto;
	padding: 0;
}

#index-menu {
	height: 35px;
	padding-top: .2rem;
}

#index-menu .navbar-nav {
	margin: 0 auto;
}

#index-menu, #menu-bar {
	background: white !important;
	text-transform: uppercase;
}

#menu-bar .nav-brand {
	text-decoration: none;
	border: 1px solid rgba(252, 116, 42, .5);
	border-radius: 10px;
	color: #0253A0;
	padding-right: 1em;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}

#menu-bar .nav-brand:hover {
	background-color: #FF751C;
	color: white;
	font-weight: 600;
}

#menu-bar .navbar-nav {
	height: 35px;
	padding-top: .2rem;
}

.navbar-nav .nav-item .nav-link {
	padding: .2rem 1rem;
	margin-left: 1rem;
	color: #0253A0;
	border: 1px solid rgba(2, 83, 160, 0);
	border-radius: 7px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}

.navbar-nav .nav-item .nav-link:hover {
	color: white;
	background-color: #0253A0;
	font-weight: 600;
	border: 1px solid rgba(2, 83, 160, .5);
	border-radius: 7px;
}

.navbar-toggler {
	border-color: rgba(252, 116, 42, .5) !important;
}

.toggler-icon {
	color: #0253A0;
}

#content {
	margin-top: 3.2rem;
	min-height: 100vh;
}

.main-title-bg {
	background-color: #EEEEEE;
	padding: 2rem 0;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	color: #FF751C;
	/*font-weight: 600;*/
}

.main-title-bg+.container {
	padding: 0;
	margin: 0 auto;
}

.contact-bg {
	background-image: url(../img/contact-bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#form-section, #c-info-section {
	margin-top: 4rem;
	background: none;
}

#c-info-card {
	background-color: rgba(240, 240, 240, .5);
	padding: 2rem;
	width: 100%;
}

#c-info-section p {
	margin: 0;
}

.c-info-group {
	margin-bottom: 1rem;
}

.c-info-title {
	text-transform: uppercase;
	color: #FF751C;
}

#footer {
	color: white;
	text-align: center;
	margin-top: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#footer a {
	color: inherit;
	font-size: 1.5rem;
	padding: 0 10px;
}

#footer a:hover {
	color: rgba(255, 255, 255, .7);
}

#footer p {
	margin: 0;
}