.main-title {
	padding: 2rem 0;
}

.jumbotron {
	margin-top: 2rem;
	text-align: right;
	background-image: url(../img/woman-tablet.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.card {
	margin: 2rem .5rem;
	overflow: hidden;
	border: none;
}

.card-img-top {
	border-radius: 50%;
	border: 3px solid #cdcdcd;
}

.card-title {
	font-weight: bold;
}